{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Página de cadastro
{% endblock %}
{% block body %}
<div class="container">
  {% if messages %}
    {% for i in messages %}
      <div class="{{i.tags}}">{{i}}</div>
    {% endfor %}
  {% endif %}
  <br><br>
  <center>
    <h1>Cadastre-se</h1>
    <p>Preencha os campos abaixo para se cadastrar no monitor de ativos.</p>
  </center>
  <hr>
  <br><br>
  <form action="" method="POST">
    {% csrf_token %}
   
      <label>Nome</label>
      <input class="form-control" type="text" name="nome" placeholder="Nome..." />
<br>
      <label>Email</label>
      <input class="form-control" type="email" name="email" placeholder="jbsilva@email.com" />
<br>
      <label>Senha</label>
      <input class="form-control" type="password" name="senha" placeholder="123123" />

    <br>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
  </form>
</div>
{% endblock %}