{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Página de cadastro
{% endblock %}
{% block body %}
<div class="container">
  {% if messages %}
    {% for i in messages %}
      <div class="{{i.tags}}">{{i}}</div>
    {% endfor %}
  {% endif %}
  <br><br>
  <center>
    <h1>Cadastre-se</h1>
    <p>Preencha os campos abaixo para se cadastrar no monitor de ativos.</p>
  </center>
  <hr>
  <br><br>
  <form class="form-group" action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Nome</label>
      <input class="form-control" type="text" id="name" name="nome" placeholder="Nome..." />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="email" id="email" name="email" placeholder="jbsilva@email.com" />
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input class="form-control" type="password" id="password" name="senha" placeholder="123123" />
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
  </form>
</div>
{% endblock %}