appdirs
asgiref
asttokens
beautifulsoup4
certifi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
Django
executing
fonttools
frozendict
html5lib
idna
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
lxml
matplotlib
matplotlib-inline
multitasking
nest-asyncio
numpy
packaging
pandas
parso
peewee
Pillow
platformdirs
plotly
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
requests
requests-futures
six
soupsieve
sqlparse
stack-data
tenacity
tornado
tqdm
traitlets
tzdata
urllib3
wcwidth
webencodings
yfinance
