{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Home Page
{% endblock %}
{% block body %}
<body>
  <main>
    <section>
      <h1>Boas vindas e exibição global de ativos</h1>
      <p>dados baixados em: <a href="https://www.dadosdemercado.com.br/bolsa/acoes" target="_blank">Acões listadas</a></p>
    </section>
    <section>
      <aside>
        <form method="get" action="">
          <input type="text" name="cod-ativo" placeholder="Buscar ativo...">
          <input type="submit" value="Buscar">
        </form>
      </aside>
      <table>
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          {% for ativo in ativos %}
          <tr>
            <td>
              <a href="{% url 'detalhes_ativos' ativo.id %}">
                {{ ativo.cod_ativo }}</a>
            </td>
            <td>{{ ativo.nome_empresa }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
</body>
{% endblock %}
