{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Home Page
{% endblock %}
{% block body %}
<body>
  <p>
    Barra de navegação - Favoritos/login/cadastro/logout
  </p>
  <p>
    Ao clicar em um ativo, deve abrir uma página com detalhes sobre ele, nesta página deverá ter a opção (se user estiver logado) de salvar nos favoritos
  </p>
  <section class="index">
    <p>
      Página de boas vindas e exibição global de ativos<br>
      dados baixados em: <a href="https://www.dadosdemercado.com.br/bolsa/acoes", target="_blank">Acões listadas</a>
    </p>
    <form method="get" action="">
      <input type="text" name="cod-ativo" placeholder="Buscar ativo...">
      <input type="submit" value="Buscar">
    </form>
    <section class="ativos-list">
      <ul>
      {% for ativo in ativos %}
        <a href="#">
          <li>{{ ativo.cod_ativo }}</li>
        </a>
      {% endfor %}
      </ul>
    </section>
  </section>
  
</body>

{% endblock %}
