{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Home Page
{% endblock %}
{% block body %}

<body>
  {% if messages %}
    {% for i in messages %}
      <div class="{{i.tags}}">{{i}}</div>
    {% endfor %}
  {% endif %}
  <h2>Monitoramento de ativos de B3</h2>
  <main>

    <section style="height: 85vh; overflow-y: auto;">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nome</th>
          </tr>
        </thead>
        <tbody>
          {% for ativo in ativos %}
          <tr>
            <td>
              <a href="{% url 'detalhes_ativos' ativo.id %}">
                {{ ativo.cod_ativo }}</a>
            </td>
            <td>{{ ativo.nome_empresa }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
</body>
{% endblock %}