{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Detalhes Page
{% endblock %}
{% block body %}

<body>
    <div class="container mt-4">
        <h1>Detalhamento de {{ ativo.nome_empresa }}</h1>

        <section class="ativos-list">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Cod Ativo</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Volume</th>
                        <th scope="col">Variação Esperada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ ativo.cod_ativo }}</td>
                        <td>{{ ativo.nome_empresa }}</td>
                        <td>R$ {{ lasts.fechamento }}</td>
                        <td>{{ lasts.volume }}</td>
                        <td>{{ lasts.variacao }}</td>
                    </tr>
                </tbody>
            </table>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'update_wallet' ativo.id %}">
                {% csrf_token %}
                {% if is_monitored %}
                    <button type="submit" class="btn btn-danger">Remover do Monitoramento</button>
                {% else %}
                    <button type="submit" class="btn btn-success">Adicionar ao Monitoramento</button>
                {% endif %}
            </form>
            {% endif %}
        </section>
    </div>

    <div id="plot"></div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <script>
        function updateChart() {
            $.ajax({
                url: '{% url "detalhes_ativos" id=ativo.id %}',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);

                    const xData = data.x.map(dateString => new Date(dateString));

                    Plotly.newPlot('plot', [{
                        x: xData,
                        y: data.y,
                        type: 'line',
                        // markers: { color: 'blue' }, // Removido
                        name: data.title,
                    }], {
                        // annotations: data.y.map((value, index) => ({ // Removido
                        //     x: xData[index],
                        //     y: value,
                        //     xref: 'x',
                        //     yref: 'y',
                        //     text: value.toFixed(2),
                        //     showarrow: false,
                        //     arrowhead: 4,
                        //     ax: 0,
                        //     ay: -30,
                        // })),
                        title: data.title, // Adicionado título ao layout
                        xaxis: {
                            title: 'Data'
                        },
                        yaxis: {
                            title: 'Preço (R$)'
                        }
                    });

                    setTimeout(updateChart, 10000);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error("Erro ao buscar dados do gráfico:", textStatus, errorThrown);
                    $('#plot').html('<p class="text-danger">Não foi possível carregar o gráfico. Verifique o console para mais detalhes.</p>');
                    // Opcional: tentar novamente após um intervalo maior em caso de erro
                    // setTimeout(updateChart, 30000);
                }
            });
        }

        $(document).ready(function () {
            updateChart();
        });
    </script>

</body>

{% endblock %}