{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Favoritos Page
{% endblock %}
{% block body %}

<body>
  <main>
    <section>
      <p>
        Barra de navegação - Favoritos/login/cadastro/logout
      </p>
      <Botao>Botao para remover favorito / Botao para adicionar ou remover da carteira</p>
        <p>
          Página de favoritos, exibe apenas ativos salvos pelo usuario
        </p>
    </section>
    <section>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nome</th>
            <th scope="col">Favorito</th>
            <th scope="col">Em Carteira</th>
          </tr>
        </thead>
        <tbody>
          {% for ativo in ativos %}
          <tr>
            <td>
              <a href="{% url 'detalhes_ativos' ativo.id_ativo_list %}">
                {{ ativo.cod_ativo }}</a>
            </td>
            <td>{{ ativo.nome_empresa }}</td>
            <td style="text-align: center;">
              <div>
                <input class="form-check-input" type="checkbox" name="suaEscolha" value="" {% if ativo.favorito %} checked {% endif %} disabled>
              </div>
            </td>
            <td style="text-align: center;">
              <div>
              <input class="form-check-input" type="checkbox" name="suaEscolha" value="" {% if ativo.em_carteira %} checked {% endif %} disabled>
            </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>

  </main>

</body>

{% endblock %}