{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Favoritos Page
{% endblock %}
{% block body %}


<body>
  <p>
    Barra de navegação - Favoritos/login/cadastro/logout
  </p>
  <Botao>Botao para remover favorito / Botao para adicionar ou remover da carteira</p>
  <p>
    Página de favoritos, exibe apenas ativos salvos pelo usuario
  </p>
  <form method="get" action="">
    <input type="text" name="cod-ativo" placeholder="Buscar ativo...">
    <input type="submit" value="Buscar">
  </form>
  <section class="ativos-list">
    <ul>
    {% for ativo in ativos %}
      <li>{{ ativo.cod_ativo }} - {{ ativo.nome_empresa }}</li>
    {% endfor %}
    </ul>
  </section>

</body>

{% endblock %}