* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #404040;
}
header {
  background-color: #f8f9fa;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}
table th {
  background-color: #f2f2f2;
}

form {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}
.buscar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}
label{
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: #404040;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"] {
  background-color: #363535;
  color: #ffffff;
}

input[type="checkbox"] {
  background: none;
  box-shadow: none;
  width: min-content;
  align-content: center;
}

