{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block head %}
  {% endblock %}
  <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
    <header>
      <nav>
        <ul class="menu">
          <li><a href="{% url 'index' %}">Home Page</a></li>
          <li><a href="{% url 'login' %}">Entrar</a></li>
          <li><a href="{% url 'cadastro' %}">Cadastrar</a></li>
          <li><a href="{% url 'favoritos' %}">Favoritos</a></li>
          <li><a href="{% url 'sair' %}">Sair</a></li>
        </ul>
      </nav>
    </header>
  {% block body %}
  {% endblock %}
</body>
</html>


